.budCards  {
	text-align: left;
	padding-top: 20px;
	padding-bottom: 5px;
	margin: 20px;
	margin-top: 800px;
	height: 200px;
	width: 300px;
	display: flex;
    
	background-color: #00487950;
}

.budgeting-title {
	font-size: 60px;
	text-align: left;
	padding-top: 155px;
	padding-left: 275px;
	background-color: #00487950;

}

.budCardtitle {
	padding-left: 20px;

}