.investing-container {
  display: inline-flex;
  width: 90%;
  margin-top: 150px;
  align-self: center;
  border: 1px red solid;
}

.filter-container {
  width: 650px;
  padding-top: 20px;
  border: 1px black solid;
	height: 600px;
}

.card-container {
  text-align: left;
  margin-left: 30px;
}

.investing-title {
  margin-left: 20px;
  font-size: 60px;
}

.all-card-rows {
  display: flex;
  flex-wrap: wrap;
}

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 2vh;
  margin: auto;
  padding-top: 2px;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #3774ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #ddd;
}

.example-track.example-track-0 {
  background: #83a9ff;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}

.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

.slider {
  padding-left: 10px;
  padding-right: 10px;
}

.slider-values {
  display: inline-flex;
	padding-bottom: 0px;
}

.left-value {
  padding-right: 60px;
}

.right-value {
  padding-left: 60px;
}

.all-slider {
	line-height: 30px;
}