.investing-container {
	display: inline-flex;
	width: 90%;
	margin-top: 150px;
}

.filter-container {
	width: 650px;
	padding-top: 20px;
	border: 1px black solid;
}

.card-container {
	text-align: left;
	margin-left: 30px;
}

.investing-title {
	margin-left: 20px;
	font-size: 400%;
}

.all-card-rows {
	display: flex;
	flex-wrap: wrap;
}