.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  background-color: #004977;
  color: white;
}

.logo {
  font-family: 'Optimist', sans-serif;
  margin-right: 500px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Optimist', sans-serif;
}

a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 25px;
  padding-left: 30px;

}
  