/* the encapsulating container */
.spending-container {
  display: block;
}

.fico-score {
  padding-bottom: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.fico-title {
  padding-bottom: 30px;
}

.spending-title {
	margin-left: 20px;
	font-size: 60px;
}


.fico-bar {
  width: 800px;
  height: 60px;

  transform: translateY(-50%);
  border-radius: 35px;
  overflow: hidden;
}

.all-card-rows {
  display: flexbox;
  margin-left: 80px;
  margin-right: 80px;
  align-items: center;
  
  justify-content: center;
}


.child {
  width: 100%;
  height: 100%;
}

.progress {
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 35px;
  font-family: "Segoe UI";
  animation-direction: reverse;
  background: #e5405e;
  background: linear-gradient(to right, #e5405e 0%, #22c530 86%);
}

.shrinker {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  width: 86%;
}

.timelapse {
  animation-name: timelapse;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(.86, .05, .4, .96);
}

@keyframes timelapse {
  0% {
    width: 100%;
  }

  100% {
    width: 25%;
  }
}
 
.fico-score{
  margin-top: 100px;
  right: 360;
}

.introduction { 
	display: inline-flex; 
	padding: 20px;
    text-align: center;
    color: black;
}


.spendingCard-container {
	text-align: center;
  display: inline-flex;
	width: 80%;
	margin: center;
}

.style{
    color:black
}

.venture {
  background-color: #F4F4F4;
  margin: 10px;
  padding: 50px;
}