.spend-card {
	border: none;
	text-align: center;
	margin: 50px;
	width: 500px;
	height: 200px;

	background-color: #00487950;
	font-size: 80%;
}


.card-title {
	padding-top: 20px;
	font-size: 150%;
}

.spending-title{
    text-align: center;
}