@font-face { font-family: Optimist; src: url('https://www.capitalone.com/assets/enterprise/fonts/Optimist_W_Lt.woff2'); } 

body {
  margin: 0;
  font-family: "Optimist", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Optimist", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: "Optimist", cursive, sans-serif;
}
